body {
    margin-top: 0;
    background-color: slategrey;
    
}
.jumbotron {
    text-align: center;
    margin: auto;
    background-image: url("../images/jumbotron2.jpg");
    background-size: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 1%;
    background-repeat: no-repeat;
}

.form {
    width: 75%;
    margin: auto;
}

#UserSearchInput {
    height: 5rem;
    font-size: 3.5vw;
    margin-bottom: 1.5rem;
}


.lead {
    font-style: italic;
    color: white;
    text-align: center;
}

h1 {
    font-size: 7vw;
    color: black;

}

button {
    margin-bottom: 2%;
}

