body {
    margin-top: 0;
    background-image: url("../images/jumbotron2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.jumbotron {

    padding-left: 16%;
    padding-top: 1%;
    margin-top: 5%;
    margin-bottom: 0;
}

.form {
    width: 75%;
    margin: auto;
}

#UserSearchInput {
    height: 5rem;
    font-size: 3.5vw;
    margin-bottom: 1.5rem;


}


.lead {
    font-family: 'Permanent Marker', cursive;
    color: black;
    letter-spacing: 5px;
}

h1 {
    font-size: 5vw;
    color: black;
    text-align: center;
    padding-top: 2%;
    font-family: 'Holtwood One SC', serif;


}

button {
    margin-bottom: 2%;
}

#trailInfo {
    border: none;
}

.card-img-top {
    height: 15vw;
}

footer {
    text-align: center;
    font-size: 1vw;
    background-color: #F8F5F0;

}

.card-body {
    background-color: #F8F5F0;
}

h2 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: black;
    letter-spacing: 10px;
    font-size: 2.5vw;
}

#footer-text {
    font-family: 'Holtwood One SC', serif;
}

.clearfix {
    overflow: auto;
}

.modal-body{
    margin-right:3%;
}

.selectedTrailPhoto {
    margin: auto;
}

